{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },

  "env": {
    "node": true,       // Node.js global variables and Node.js-specific rules.
    "mocha": true,      // adds all of the Mocha testing global variables.
    "phantomjs": true,  // phantomjs global variables
    "es6": true         // enabled ES6 syntax
  },

  "plugins": [
    "react"
  ],

  "rules": {
    // Possible Errors
    "comma-dangle": 2,                    // disallow or enforce trailing commas
    "no-extra-boolean-cast": 0,           // disallow double-negation boolean casts in a boolean context
    "no-extra-parens": [2, "functions"],  // disallow unnecessary parentheses
    "no-extra-semi": 2,                   // disallow unnecessary semicolons
    "no-unexpected-multiline": 0,         // avoid code that looks like two expressions but is actually one
    "use-isnan": 2,                       // disallow comparisons with the value NaN
    "valid-typeof": 2,                    // ensure that the results of typeof are compared against a valid string

    // Best Practices
    "curly": [2, "multi-line"],     // specify curly brace conventions for all control statements
    "default-case": 2,              // require default case in switch statements
    "eqeqeq": 2,
    "vars-on-top": 2,

    // Stylistic
    "indent": [2, 2, { SwitchCase: 1 }],            // specify tab or space width for your code
    "object-curly-spacing": [ 2, "always" ],        // require or disallow padding inside curly braces
    "quotes": [2, "single"],                        // specify whether backticks, double or single quotes should be used
    "semi": 2,                                      // require or disallow use of semicolons instead of ASI
    "space-before-function-paren": [ 2, "never" ],  // require or disallow a space before function opening parenthesis

    // Variables
    "no-unused-vars": 1,        // disallow declaration of variables that are not used in the code
    "no-use-before-define": 2,  // disallow use of variables before they are defined

    // Node.js
    "callback-return": 1,     // enforce return after a callback
    "global-require": 0,      // enforce require() on top-level module scope
    "handle-callback-err": 1, // enforce error handling in callbacks
    "no-mixed-requires": 2,   // disallow mixing regular variable and require declarations
    "no-new-require": 2,      // disallow use of new operator with the require function
    "no-path-concat": 2,      // disallow string concatenation with __dirname and __filename

    // React
    "react/jsx-boolean-value": 2,             // enforce boolean attributes notation in JSX
    "react/jsx-curly-spacing": [2, "always"], // enforce or disallow spaces inside of curly braces in JSX attributes.
    "react/jsx-equals-spacing": [2, "never"], // enforce or disallow spaces around equal signs in JSX attributes
    "react/jsx-indent": [2, 2],               // validate JSX indentation
    "react/jsx-indent-props": [2, 2],         // validate props indentation in JSX
    "react/jsx-no-duplicate-props": 2,        // prevent duplicate properties in JSX
    "react/jsx-no-undef": 2,                  // disallow undeclared variables in JSX
    "react/jsx-space-before-closing": 2,      // validate spacing before closing bracket in JSX
    "react/jsx-uses-react": 2,                // prevent React to be incorrectly marked as unused
    "react/jsx-uses-vars": 2,                 // prevent variables used in JSX to be incorrectly marked as unused
    "react/self-closing-comp": 2              // prevent extra closing tags for components without children
  }
}
