packer_compiled.lua
**/.DS_Store

**/.config/zsh/.zim
**/.config/zsh/.zsh_history
**/.config/zsh/*.zcompdump*
**/.config/zsh/.zsh-private
**/.config/zsh/plugins/

fish/.config/fish/conf.d/25-private-env.fish

**/node_modules/

pi-mono/.pi/agent/auth.json
pi-mono/.pi/agent/sessions/*
