packer_compiled.lua
**/.DS_Store

**/.config/zsh/.zim
**/.config/zsh/.zsh_history
**/.config/zsh/*.zcompdump*
**/.config/zsh/.zsh-private
**/.config/zsh/plugins/

.config/herdr/session.json

**/node_modules/
