# Completions
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# Auto complete & Syntax- must be sourced after complete
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

# Keybinds
zmodule input

# Community Plugins
zmodule Aloxaf/fzf-tab

# Prompt starship.rs
zmodule starship/starship --cmd 'eval "$(starship init zsh)"'

# Zim Modules
zmodule fzf
zmodule wfxr/forgit
