'atom-text-editor.vim-mode:not(.insert-mode)':
  # Cursor history
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

  # Multi cursor
  'ctrl-u': 'multi-cursor:expandUp'
  'ctrl-d': 'multi-cursor:expandDown'

  # For windows, tabs & panes
  'shift-q': 'core:close'
  'f6': 'tabs:close-all-tabs'
  'ctrl-x': 'pane:split-down'
  'ctrl-v': 'pane:split-right'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'

'atom-text-editor.vim-mode.insert-mode':
  'tab': 'emmet:expand-abbreviation-with-tab'
