QWidget, QTabWidget::pane, QTabWidget::tab-bar {
    background-color: #21252B;
}
QTabBar::tab {
    color: lightgray;
    background-color: #21252B;
    padding: 15px;
    /* border-right: 1px solid palette(highlight); */
}
QTabBar::tab:selected, QTabBar::tab:hover {
    background: #282C34;
    color: white;
}
