# Completions
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-history-substring-search

# Community Plugins
zmodule z-shell/F-Sy-H
zmodule Aloxaf/fzf-tab

# Prompt starship.rs
zmodule starship/starship --cmd 'eval "$(starship init zsh)"'

# Zim Modules
zmodule exa
zmodule asdf
zmodule fzf
zmodule input