# Completions
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# Community Plugins
zmodule Aloxaf/fzf-tab

# Prompt starship.rs
zmodule starship/starship --cmd 'eval "$(starship init zsh)"'

# Zim Modules
zmodule exa
zmodule fzf
zmodule input
zmodule wfxr/forgit
